  <section>
    <mat-card *ngIf="errorMessage$| async as errorMessage" class="notification">{{errorMessage}}</mat-card>
  </section>
  <section>
    <mat-form-field>
      <mat-label>Select your language</mat-label>
      <mat-select [(value)]="currentLanguage">
        <mat-option *ngFor="let language of languages" [value]="language" (click)="selectLanguage(language)">
          {{language}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section>
    <button mat-fab  (click)="start()">
      <mat-icon class="soundwave">mic</mat-icon>
      start
    </button>
    <button mat-fab  (click)="stop()">
      <mat-icon class="soundwave">mic</mat-icon>
      stop
    </button>
    <button mat-fab  (click)="submit()">
      
      submit
    </button>
    <button mat-fab  (click)="reset()">
      
      reset
    </button>
    <!-- <ng-template #mic>
      <button mat-fab (click)="start()">
        <mat-icon>mic</mat-icon>
      </button>
    </ng-template> -->
  </section>
<section *ngIf="transcript$ | async">
  <mat-card class="notification mat-elevation-z4">{{totalTranscript}}</mat-card>
</section>
<section>
  <mat-form-field class="speech-result-width">
    <textarea matInput [value]="correctText"  placeholder="Speech Input Result" rows="15"></textarea>
  </mat-form-field>
</section>
<h1>{{correctText}}</h1>
